.trending-list {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  margin-top: 20px;

  .title {
    color: rgba(255, 255, 255, 0.7);
    margin-right: 10px;
  }

  .item {
    color: white;
    text-decoration: none;
  }

  .item:not(:last-child)::after {
    content: ",\00a0";
  }

  .item-container {
    margin-right: 10px;
  }

  .more-icon {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
  }
}