body {
  margin: 0;
  font-family: 'Plus Jakarta Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.banner {
  position: relative;
  width: 100%;
  min-height: 500px;
  color: white;

  .banner-bg {
    position: absolute;
    z-index: -100;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-image: url('assets/banner2.jpeg');
    background-size: cover;
    filter: brightness(70%);
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .column {
      max-width: 650px;
    }

    h1 {
      margin-top: 150px;
    }
  }
}

.tab-list {
  margin-top: 20px;
}

.h2-and-sortby {
  display: flex;
  margin: 20px 0;
  align-items: center;
  justify-content: space-between;
}

// gallery responsive

.three-cols-gallery {
  display: block;
}

.two-cols-gallery {
  display: none;
}

@media screen and (max-width: 768px) {
  .three-cols-gallery {
    display: none;
  }

  .two-cols-gallery {
    display: block;
  }
}